# Flutter / Dart（android/ 子项目自包含版本）
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
flutter_*.png
coverage/

# Android
.gradle/
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java
*.keystore
*.jks
*.apk
*.aab
android/app/debug/
android/app/profile/
android/app/release/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml

# OS
.DS_Store
